<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
<main layout:fragment="conteudo">

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

        <div class="col s12 m4">
          <div class="icon-block">
            <a href="#"><h2 class="center light-blue-text"><i class="material-icons">add_shopping_cart</i></h2>
            <h6 class="center">Pedidos</h6></a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <a th:href="@{/produto/lista}"><h2 class="center light-blue-text"><i class="material-icons">local_shipping</i></h2>
           <h6 class="center">Meus produtos</h6></a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <a th:href="@{/cliente/lista}"><h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h6 class="center">Clientes</h6></a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <a th:href="@{/cliente/aniversariantes}"><h2 class="center light-blue-text"><i class="material-icons">cake</i></h2>
            <h6 class="center">Aniversariantes do dia</h6></a>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="icon-block">
            <a th:href="@{/cliente/lista}"><h2 class="center light-blue-text"><i class="material-icons">people_outline</i></h2>
            <h6 class="center">Os que mais compram</h6></a>
          </div>
        </div>
      </div>


    </div>
    <br><br>
  </div>
</main>
</body>
</html>
