<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<main layout:fragment="conteudo">

    <!-- inserção de mensagens de alertas-->
    <div th:insert="/fragments/mensagens"></div>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <div class="row center">
            </div>
            <div class="row center">
                <a th:href="@{/empresa/bemvindo}"><i class="material-icons">home</i></a>
                <h3 class="teste">Meus Clientes</h3>
                <br>
                <a th:href="@{/cliente/cadastro}">Aniversariantes do dia</a>
            </div>
            <br>

            <nav class="campoPesquisaProduto">
                <div class="nav-wrapper">
                    <form th:action="@{/cliente/buscar/nome}" method="GET">
                        <div class="input-field">
                            <input id="search" type="search" th:name="nome">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <table class="responsive-table centered">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Número/Whatsapp</th>
            <th>Logradouro</th>
            <th>Complemento</th>
            <th>Data de Nascimento</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="aniversariante : ${aniversariantes}">
                <td th:text="${aniversariante.getNome()}">Alvin</td>
                <td th:text="${aniversariante.getNumeroDeTelefone()}">Alvin</td>
                <td th:text="${aniversariante.getEndereco().getLogradouro()}">Alvin</td>
                <td th:text="${aniversariante.getEndereco().getComplemento()}">Alvin</td>
                <td th:text="${aniversariante.getDataDeNascimento()}">Alvin</td>
                <td>
                    <i class="material-icons">cake</i>
                </td>
            </tr>

        </tbody>
    </table>


    </main>
  </body>
</html>
