<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
  <main layout:fragment="conteudo">
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>

        <div class="row center">

        </div>
        <div class="row center">
          <a th:href="@{/empresa/bemvindo}"><i class="material-icons">home</i></a>
          <h3>Cadastro de clientes</h3>
        </div>
        <br><br>

      </div>
    </div>

    <div class="container">
      <div class="section">
        <a href="javascript:history.back();"><i class="material-icons">arrow_back</i></a>
        <div>
          <form class="col s12" th:action=" ${cliente.id == null} ? @{/cliente/salvar} : @{/cliente/atualizar}" th:object="${cliente}" method="POST">

            <div th:insert="/fragments/validacao"></div>

            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{dataDeCadastro}">

            <div class="input-field col s6">
                <i class="material-icons prefix">person_add</i>
                <input id="icon_prefix" type="text" class="validate" th:field="*{nome}">
                <label for="icon_prefix">Nome</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">local_phone</i>
                <input id="icon_telephone" type="text" class="validate" th:field="*{numeroDeTelefone}">
                <label for="icon_telephone">Número de celular/Whatsapp</label>
              </div>

            <div class="input-field col s6">
              <i class="material-icons prefix">date_range</i>
              <input type="date" pattern="yyyy-MM-dd"  th:field="*{dataDeNascimento}">
              <label for="icon_telephone">Data de nascimento</label>
            </div>

            <div class="input-field col s6">
              <i class="material-icons prefix">email</i>
              <input id="icon_telephone" type="tel" class="validate" th:field="*{email}">
              <label for="icon_telephone">E-mail</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">home</i>
              <input id="icon_telephone" type="tel" class="validate" th:field="*{endereco.logradouro}">
              <label for="icon_telephone">Logradouro</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">location_searching</i>
              <input id="icon_telephone" type="text" class="validate" th:field="*{endereco.bairro}">
              <label for="icon_telephone">Bairro</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">place</i>
              <input id="icon_telephone" type="text" class="validate" th:field="*{endereco.numero}">
              <label for="icon_telephone">Número</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">info</i>
              <input id="icon_telephone" type="text" class="validate" th:field="*{endereco.complemento}">
              <label for="icon_telephone">Complemento</label>
            </div>
            <div class="center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
              <i class="material-icons right">save</i>
            </button>
            </div>
          </form>
        </div>
      </div>
      <br><br>
    </div>
  </main>
</body>
</html>
