<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="page-footer white" th:fragment="rodape">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">Sobre nós</h5>
                <p class="blue-text text-lighten-4"> Nascemos para um único objetivo: Descomplicar a gestão dos produtos que sua empresa comercializa.</p>

            </div>
            <div class="col l3 s12">
                <h5 class="black-text">Nossos números</h5>
                <ul>
                    <li><a class="black-text" href="#!">Empresas parceiras</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="black-text">Encontre-nos</h5>
                <ul>
                    <li><a class="black-text" href="#!">Whatsapp</a></li>
                    <li><a class="black-text" href="#!">Instagram</a></li>
                    <li><a class="black-text" href="#!">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="blue-text text-lighten-3" href="http://materializecss.com">Mendes | Softwares</a>
        </div>
    </div>
</footer>
</body>
</html>