<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="page-footer blue" th:fragment="rodape">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sobre nós</h5>
                <p class="grey-text text-lighten-4"> Nascemos por um único motivo: Descomplicar a gestão de seu produto e pedidos de seus clientes.</p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Nossos números</h5>
                <ul>
                    <li><a class="white-text" href="#!">Empresas parceiras</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Encontre-nos</h5>
                <ul>
                    <li><a class="white-text" href="#!">Whatsapp</a></li>
                    <li><a class="white-text" href="#!">Instagram</a></li>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">MM</a>
        </div>
    </div>
</footer>
</body>
</html>