<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="light-blue lighten-1" role="navigation" th:fragment="cabecalho">
    <div class="nav-wrapper container "><a  id="logo-container" th:href="@{/}" class="brand-logo"><img class="logo">easystock</a>
        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
</body>
</html>