<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <main layout:fragment="conteudo">

        <div class="section no-pad-bot" id="index-banner">

            <div class="container">

                <div class="row center">
                    <h1 th:text="${status}" ></h1>
                    <img class="dinoErro" th:src="@{/imagens/dino.png}">
                </div>

            </div>
        </div>


        <div class="container center">
            <h4 th:text="${error}"></h4>

            <h5 th:text="${message}"></h5>
        </div>
        <br>
        <div class="center">
            <a  href="javascript:history.back()">Voltar</a>
        </div>
        <br>
        <br>
    </main>
</body>
</html>
