<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
  <main layout:fragment="conteudo">
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>

        <div class="row center">

        </div>
        <div class="row center">
          <a th:href="@{/empresa/cadastro}" id="download-button" class="btn-large waves-effect waves-light blue">Criar cadastro</a>
          <br><br>
          <a th:href="@{/autenticacao/logar}">Já sou cadastrado</a>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">local_shipping</i></h2>
              <h5 class="center">Gerencie o seu estoque</h5>

              <p class="light"> Informatize o controle de seu estoque e abandone de vez o  papel.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">Mantenha seus clientes por perto</h5>

              <p class="light">Mantenha o cadastro de seu cliente para oferecer serviços cada vez mais personalizados.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">add_shopping_cart</i></h2>
              <h5 class="center">Registre todos os pedidos dos clientes</h5>

              <p class="light">Dê baixa automaticamente e faça a gestão eficiente de todos os pedidos em sua empresa. </p>
            </div>
          </div>
        </div>

      </div>
      <br><br>
    </div>

  </main>
  </body>
</html>
