<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>easystock | informatizando a sua empresa</title>

  <!-- CSS Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- CSS Bootstrap -->


</head>
<body>

    <header th:insert="fragments/header :: cabecalho">

    </header>

    <main layout:fragment="conteudo">


    </main>

    <footer th:insert="fragments/footer :: rodape">

    </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script th:src="@{/js/materialize.js}"></script>
  <script th:src="@{/js/init.js}"></script>
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
        });

        // Or with jQuery

        $(document).ready(function(){
        $('.modal').modal();
        });
    </script>

<script>
    var btn = document.getElementById('btn-div');
    var container = document.querySelector('.container');
    btn.addEventListener('click', function() {

        if(container.style.display === 'block') {
            container.style.display = 'none';
        } else {
            container.style.display = 'block';
        }
    });
</script>
<script>
    $("#demo3").maskMoney({prefix:'R$ ', allowNegative: true, thousands:'.', decimal:',', affixesStay: false});
</script>
</body>
</html>