<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
</head>
<body>

    <main layout:fragment="conteudo">

      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br>

          <div class="row center">
            <img th:src="@{/imagens/key2.png}" style="width: 40px">
          </div>
          <div class="row center">
            <h3>Autenticar-se</h3>
          </div>
        </div>
      </div>

            <div class="container">
              <div class="section">
                <a href="javascript:history.back();"><i class="material-icons">arrow_back</i></a>
                  <form class="col s12">

                    <div>
                      <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                      </div>
                    </div>
                    <div>
                      <div class="input-field col s12">
                        <i class="material-icons prefix">security</i>
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                      </div>
                    </div>

                    <div class="center">
                      <button class="btn waves-effect waves-light" type="submit" name="action">Entrar
                        <i class="material-icons right">send</i>
                      </button>
                      <p> <a th:href="@{/empresa/cadastro}">Criar conta</a></p>
                    </div>
                  </form>
                </div>
            </div>
          <br><br>

        </div>
      </div>
      </div>
    </main>
  </body>
</html>
