<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
    <main layout:fragment="conteudo">

      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>

          <div class="row center">

          </div>
          <div class="row center">
            <h3>Cadastre os seus produtos</h3>
          </div>
          <br><br>

        </div>
      </div>

      <div class="container">
        <div class="section">
          <a href="javascript:history.back();"><i class="material-icons">arrow_back</i></a>
          <div>
            <form th:action="@{/produto/salvar}" th:object="${produto}" class="col s12" method="POST">
              <input type="hidden" th:field="*{id}">
                <div class="input-field col s6">
                  <i class="material-icons prefix">assignment</i>
                  <input th:field="*{nome}" id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">Nome do produto</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">attach_money</i>
                  <input th:field="*{precoDeVenda}" id="icon_telephone" type="text" class="validate">
                  <label for="icon_telephone">Preço de venda</label>
                </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">exposure_plus_1</i>
                <input th:field="*{quantidadeEmEstoque}" id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Quantidade em estoque</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">widgets</i>
                <select th:field="*{empresa}">
                  <option value=""  selected>Empresa</option>
                  <option th:each="e : ${empresas}" th:value="${e.id}"
                          th:text="${e.nome}"></option>
                </select>
                <label>Categoria do Produto</label>
              </div>

              <div class="input-field col s12">
                <i class="material-icons prefix">widgets</i>
                <select th:field="*{categoria}">
                  <option value=""  selected>Categoria do Produto</option>
                  <option th:each="c : ${categorias}" th:value="${c.id}"
                          th:text="${c.nome}"></option>
                </select>
                <label>Categoria do Produto</label>
              </div>

              <a th:href="@{/categoria/cadastro}" >Criar categoria</a>

              <div class="center">
              <button class="btn waves-effect waves-light" type="submit" name="action">Adicionar
                <i class="material-icons right">save</i>
              </button>
              </div>
            </form>
          </div>

        </div>
        <br><br>
      </div>
    </main>
  </body>
</html>
